<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated courseselection -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="grdsl.presentation.GrdslModelWizardID"
            name="%_UI_GrdslModelWizard_label"
            class="grdsl.presentation.GrdslModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GrdslModelFile.gif">
         <description>%_UI_GrdslModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated courseselection -->
      <editor
            id="grdsl.presentation.GrdslEditorID"
            name="%_UI_GrdslEditor_label"
            icon="icons/full/obj16/GrdslModelFile.gif"
            extensions="grdsl"
            class="grdsl.presentation.GrdslEditor"
            contributorClass="grdsl.presentation.GrdslActionBarContributor">
      </editor>
   </extension>

</plugin>
